@import 'portfolio.general.scss';

.portfolio-contact {
  img {
    max-height:45px;
    @media screen and (min-width: 40em) {
      max-height:60px;
    }
  }
  .contact-item {
    background: $primaryColor;
    padding: 1rem;
    color: $textColorLight;    
  }
}
