@import './portfolio.general.scss';

body.fullScreen {
  background: no-repeat fixed linear-gradient(200deg, $colorBackground1 60%, $colorBackground2 40%);  

  .portfolio-header {
    display: none;
  }

  .portfolio-subnav {
    display: none;
  }

  .portfolio-main {
    background: 'none';
    margin-top: 20px;
  }

  .portfolio-domain-project .menu {
    display:none;
  }

  .portfolio-footer {
    display:none;
  }
}
