@import './portfolio.general.scss';

.portfolio-footer {
  font-size:0.8em;
  
  .callout {
    color:$colorFooter;
    background:$colorFooterBackground;
    border-left:none;
    border-right:none;
    border-bottom:none;
    margin-bottom:0px;

    a {
      color: $colorFooter;
      text-decoration: none;
    }
  }


}