@import '../../styles/color-scheme.scss';

$colorBackground1:          #ffed4b;
$colorBackground2:          #fdcd3b;

$colorHeaderBackground:     #ffffff;

$colorIntro:                $textColorLight;
$colorIntroBackground:      $primaryColorDark;

$colorFooter:               $textColorDark;
$colorFooterBackground:     $grayColorLight;
